<section >   
    <div class="col md 6" >
        <div class="container">
            <h2 class="text-center mt-4">Creat My Theater Account</h2>
            <form class=" form-control mt-2" action="/adminT/signup" method="post">
                  <div class="mb-3">
                    <label for="" class="form-label">Theater Name</label>
                    <input type="text" name="Name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Email address</label>
                    <input type="email" name="Email" class="form-control"  aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Mobile Number</label>
                    <input type="tel" name="Mobile" class="form-control" >
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Password</label>
                    <input type="password" name="Password" class="form-control" >
                </div>
                <button type="submit" class="btn btn-success">SignUp</button>
                <a class="text-right" href="/adminT/login">Already Have Account?</a>
        </form>
        </div>
    </div>
</section>