<section class="body">
 <div class="container">
    <div class="col md 12 text-center " style="padding-top :22rem">
   <a href="/adminS/add-filims" class="btn btn-warning  btn-lg " >Add Films</a>
    <a href="/adminS/add-theater" class="btn btn-warning btn-lg ">Add Theater</a>
    </div>
 </div>

</section>

<style>
  .body{
    margin: 0%;
    padding: 0%;
    background: url("/images/wallpaperflare.com_wallpaper\ \(1\).jpg");
    
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family:cursive ;
}
</style>
 