.body{
    margin: 0%;
    padding: 0%;
    background: url("/images/cinema9_generated.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family:cursive ;
}

