<section class="body">   
    <div class="col md 6" >
        <div class="container "  style="width:500px; ">
            <h2 class="text-center text-light">Creat New Account</h2>
            <form class=" form-control mt-2" action="/signup" method="post" style=" background-color:#c2272d; border:0ch">
                  <div class="mb-3">
                    <label for="" class="form-label  text-light"> Name</label>
                    <input type="text" name="Name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label  text-light">Email address</label>
                    <input type="email" name="Email" class="form-control"  aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label  text-light">Mobile Number</label>
                    <input type="tel" name="Mobile" class="form-control" >
                </div>
                <div class="mb-3">
                    <label for="" class="form-label  text-light">Password</label>
                    <input type="password" name="Password" class="form-control" >
                </div>
                <button type="submit" class="btn btn-success  text-light"  style=" background-color:#ec2020;border-color:#c2272d">SignUp</button>
                <a class="text-right  text-light" href="/login" style="text-decoration: none;">Already Have Account?</a>
        </form>
        </div>
    </div>
</section>